## $$Theory$$

The process of cross-validation consist in separetes the data into $k$ folds, pick $k-1$ of them to train our machine learning model and use the other fold the make the validation, then the process runs again but now picking another fold to be the test fold and including the old test fold into a train fold. This process $k$ times

An example with $ k = 5$, usually we separate the test as having $30\%$ of the data

|   1   |   2   |   3   |   4   |   5   |
|:-----:|:-----:|:-----:|:-----:|:-----:|
|  test | train | train | train | train |
| train |  test | train | train | train |
| train | train |  test | train | train |
| train | train | train |  test | train |
| train | train | train | train |  test |

Note that the values within each peace of train or test do not change throughout the process.

After the procees runs $k$ times we will have $k$ differents scores, and our final scores will be the mean of them!

## $$Practice$$

In [12]:
# Importing the libraries
import numpy as np
import pandas as pd
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LinearRegression

pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", None)

In [16]:
# Reading the data
df = pd.read_csv("./data/kc_house_data.csv", sep=",")
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [5]:
#  since we do not need this columns
df.drop(columns=["id", "date", "zipcode", "lat", "long"], inplace=True)

In [10]:
x = df.drop("price", axis=1)
y = df["price"]

In [8]:
model = LinearRegression(n_jobs=4)

In [13]:
kfold = KFold(n_splits=5)
result = cross_val_score(model, x, y, cv=kfold)

In [14]:
result

array([0.65601954, 0.6506891 , 0.64354094, 0.65811332, 0.62573769])

In [15]:
# The mean of the score is
result.mean()

0.6468201186632426